body {
    font-style: italic;
    background-color: Snow;
    padding: 0;
    margin: 0;
}

.header {
    font-size: 20pt;
    font-family: "Arial Rounded MT Bold";
    margin-bottom: 10px;
    background-color: Khaki;
    height: 100px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.divs {
    margin: 0px;
    width: 10%;
    padding: 0px;
    float: left;
}

.navbar {
    position: absolute;
    left: 80%;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.navigation {
    background-color: Khaki;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 40px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    margin: 0 20px;
}

.navigation li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.had {
    position: absolute;
    left: 100px;
    padding: 25px;
    margin: 5px;
    width: 70%;
    font-size: 15pt;
    font-weight: bold;
    float: left;
    border: 10px double Khaki;
}

/* footer */
.footer {
    position: absolute;
    top: 120%;
    background: khaki;
    color: Snow;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: Snow;
}

.footer h3 {
    color: snow;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 100px;
    margin-bottom: 20px;
}

.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}