body {
    font-style: italic;
    background-color: Snow;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.header {
    font-size: 20pt;
    font-family: "Arial Rounded MT Bold";
    margin-bottom: 10px;
    background-color: DarkSalmon;
    height: 100px;
    text-align: center;
}

.navigation {
    background-color: DarkSalmon;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 30px;
}

.navigation ul {
    list-style: none;
    padding: 5;
    margin: 0;
}

.navigation li {
    display: inline-block;
    margin: 0 25px;
}

.navigation li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    text-align: center;
}

.divs {
    margin: 0px;
    width: 10%;
    padding: 0px;
    float: left;
}

.gym {
    position: absolute;
    left: 400px;
    top: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.house {
    font-style: italic;
    font-size: 15pt;
    color: black;
    /* background-color: DarkSalmon; */
    font-weight: bold;
    padding: 0px;
    margin-bottom: 0;
    width: 185px;
    height: 250px;
}

.house ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.house li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hourse {
    font-style: italic;
    font-size: 13pt;
    color: black;
    background-color: DarkSalmon;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
}

.hourse ul {
    list-style: none;
    padding: 5;
    margin: 0;
}

.hourse li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar {
    position: absolute;
    left: 80%;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container {
    position: absolute;
    left: 200px;
    top: 245px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.rating .fa {
    color: black;
}

.col-1:hover {
    transform: translateY(-5px);
}

.col-1 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    text-decoration: none;
    color: black;
}

.col-1 h4 {
    text-decoration: none;
    color: black;
    list-style: none;
    display: inline-block;
}

/* footer */

.footer {
    margin: 2px;
    width: 100%;
    position: absolute;
    top: 250%;
    background: DarkSalmon;
    color: black;
    font-size: 18pt;
    padding: 60px 0 20px;
}

.footer p {
    color: black;
}

.footer h3 {
    color: black;
    margin-bottom: 20px;
}

.footer-col-1 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 25%;
}

.footer-col-1 {
    flex: 1;
    text-align: center;
}

.footer-col-1 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer hr {
    border: 1px solid whitesmoke;
    background: whitesmoke;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}